@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}
#container {
	position: relative;
	width: 100%;
	height: 100vh;
	background: #de732d;
	overflow: hidden;
	transition: 1s;
}
.card {
	position: absolute;
	left: 50%;
	top: 150px;
	transform: translateX(-50%);
	width: 700px;
	height: auto;
	border-radius: 15px;
	box-shadow: 0px 6px 15px #333;
	padding: 20px;
}
.image {
	float: left;
	width: 150px;
	height: 210px;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 40px auto;
}
h2 {
	font-weight: 500;
	text-align: center;
	margin-bottom: 0;
	user-select: none;
}
p {
	margin-top: 0;
	font-weight: 400;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.64);
	padding: 20px;
	text-align: center;
	margin-bottom: 100px;
	user-select: none;
}
.next {
	position: absolute;
	bottom: 35px;
	right: 40px;
	font-weight: 500;
	cursor: pointer;
}
.prev {
	position: absolute;
	bottom: 35px;
	left: 40px;
	font-weight: 500;
	cursor: pointer;
}

/* CARD 1 */
.card_1 {
	background: #f6f6f6;
	transition: 1s;
	width: 800px;
	height: 400px;
}
.card_1 .image {
	background-image: url("media/ak.jpeg");
	height: 200px;
	width: 300px;
	position: absolute;
	top: 50px;
	padding-bottom: 70px;
}
.card_1 h2 {
	color: #ac5422;
	position: absolute;
	left: 63%;
}
.card_1 p {
	position: absolute;
	float: right;
	margin-left: 290px;
	text-align: center;
}
.card_1 .next {
	color: #ac5422;
}
.card_1 .prev {
	color: #ac5422;
}
/* CARD 2 */
.card_2 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: 1200px;
	opacity: 0;
	transition: 1.4s;
}
.card_2 .image {
	background-image: url("media/aadya.jpeg");
	width: 200px;
	height: 175px;
}
.card_2 h2 {
	color: #7c4019;
}
.card_2 .next {
	color: #7c4019;
}
.card_2 .prev {
	color: #7c4019;
}
.card_2.active {
	opacity: 1;
	margin: 0;
	transform: translateX(-50%) scale(1) rotate(10deg);
}

/* CARD 3 */
.card_3 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px;
	transition: 1.4s;
}
.card_3 .image {
	background-image: url("media/vidhita.jpeg");
	width: 400px;
	height: 275px;
	float: left;
}
.card_3 h2 {
	color: #8b8b8b;
	position: absolute;
	padding-bottom: 30px;
	margin-left: 55%;
}

.card_3 p {
	position: absolute;
	float: right;
	margin-left: 200px;
	text-align: center;
}

.card_3 .next {
	color: #8b8b8b;
}
.card_3 .prev {
	color: #8b8b8b;
}
.card_3.active {
	margin: 0;
	transform: translateX(-60%) scale(1) rotate(-7deg);
}

/* CARD 4 */
.card_4 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 340px;
}
.card_4 .image {
	background-image: url("media/aditi.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: contain;
	background-size: 350px 350px;
	background-position: center;
}
.card_4 p {
	position: absolute;
	float: right;
	margin-left: 230px;
	text-align: center;
}
.card_4 h2 {
	color: #e8672e;
	position: absolute;
	padding-bottom: 30px;
	margin-left: 55%;
}
.card_4 .next {
	color: #e8672e;
}
.card_4 .prev {
	color: #e8672e;
}
.card_4.active {
	margin: 0;
	transform: translateX(-50%) scale(1) rotate(4deg);
}

/* CARD 5 */
.card_5 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 400px;
}
.card_5 .image {
	background-image: url("media/mangal.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	background-size: cover;
	position: absolute;
	top: 50px;
	background-position: center;
}
.card_5 h2 {
	color: #b39bc8;
	position: absolute;
	padding-bottom: 30px;
	margin-left: 55%;
}
.card_5 p {
	position: absolute;
	float: right;
	margin-left: 220px;
	text-align: center;
}
.card_5 .next {
	color: #b39bc8;
}
.card_5 .prev {
	color: #b39bc8;
}
.card_5.active {
	margin: 0;
	transform: translateX(-40%) scale(1) rotate(-10deg);
}

/* CARD 6 */
.card_6 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 370px;
}
.card_6 .image {
	background-image: url("media/aru.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	position: absolute;
	top: 68px;
	background-position: center;
}
.card_6 h2 {
	color: #262626;
	position: absolute;
	left: 59%;
}

.card_6 p {
	position: absolute;
	float: right;
	margin-left: 230px;
	text-align: center;
}
.card_6 .next {
	color: #262626;
}
.card_6 .prev {
	color: #262626;
}
.card_6.active {
	margin: 0;
	transform: translateX(-53%) scale(1) rotate(-4deg);
}

/* CARD 7 */
.card_7 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 340px;
}
.card_7 .image {
	background-image: url("media/harshit.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	background-position: center;
}
.card_7 h2 {
	color: #7e685a;
}

.card_7 p {
	position: absolute;
	float: right;
	margin-left: 220px;
	text-align: center;
}

.card_7 .next {
	color: #7e685a;
}
.card_7 .prev {
	color: #7e685a;
}
.card_7.active {
	margin: 0;
	transform: translateX(-50%) scale(1) rotate(5deg);
}

/* CARD 8 */
.card_8 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 300px;
}
.card_8 .image {
	background-image: url("media/som.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	background-position: center;
}
.card_8 h2 {
	color: #a16e83;
	letter-spacing: 3px;
	font-size: 30px;
}

.card_8 p {
	position: absolute;
	float: right;
	margin-left: 240px;
	font-weight: 40px;
	font-size: 26px;
	text-align: center;
}

.card_8 .next {
	color: #a16e83;
}
.card_8 .prev {
	color: #a16e83;
}
.card_8.active {
	margin: 0;
	transform: translateX(-50%) scale(1) rotate(-6deg);
}

/* CARD 9 */
.card_9 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 300px;
}
.card_9 .image {
	background-image: url("media/ari.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	background-position: center;
}
.card_9 h2 {
	color: #e27d60;
}

.card_9 p {
	position: absolute;
	float: right;
	margin-left: 240px;
	font-size: 17px;
	text-align: center;
}

.card_9 .next {
	color: #e27d60;
}
.card_9 .prev {
	color: #e27d60;
}
.card_9.active {
	margin: 0;
	transform: translateX(-50%) scale(1) rotate(10deg);
}

/* CARD 10 */
.card_10 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 300px;
}
.card_10 .image {
	background-image: url("media/ashish.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	background-position: center;
}
.card_10 h2 {
	color: #7c4019;
}

.card_10 p {
	position: absolute;
	float: right;
	margin-left: 240px;
	font-size: 17px;
	text-align: center;
}

.card_10 .next {
	color: #7c4019;
}
.card_10 .prev {
	color: #7c4019;
}
.card_10.active {
	margin: 0;
	transform: translateX(-50%) scale(1) rotate(-2deg);
}

/* CARD 11 */
.card_11 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 300px;
}
.card_11 .image {
	background-image: url("media/alpha.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	background-position: center;
}
.card_11 h2 {
	color: #bc986a;
}
.card_11 p {
	position: absolute;
	float: right;
	margin-left: 240px;
	font-size: 17px;
	text-align: center;
}
.card_11 .next {
	color: #bc986a;
}
.card_11 .prev {
	color: #bc986a;
}
.card_11.active {
	margin: 0;
	transform: translateX(-50%) scale(1) rotate(10deg);
}

/* CARD 12 */
.card_12 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 300px;
}
.card_12 .image {
	background-image: url("media/mehak.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	background-position: center;
}
.card_12 h2 {
	color: #557a95;
}
.card_12 p {
	position: absolute;
	float: right;
	margin-left: 240px;
	font-size: 17px;
	text-align: center;
}
.card_12 .next {
	color: #557a95;
}
.card_12 .prev {
	color: #557a95;
}
.card_12.active {
	margin: 0;
	transform: translateX(-50%) scale(1) rotate(-7deg);
}

/* CARD 13 */
.card_13 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 300px;
}
.card_13 .image {
	background-image: url("media/shruti.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	background-position: center;
}
.card_13 h2 {
	color: #e85a4f;
}
.card_13 p {
	position: absolute;
	float: right;
	margin-left: 240px;
	margin-right: 40px;
	font-size: 17px;
	text-align: center;
}
.card_13 .next {
	color: #e85a4f;
}
.card_13 .prev {
	color: #e85a4f;
}
.card_13.active {
	margin: 0;
	transform: translateX(-50%) scale(1) rotate(-3deg);
}

/* CARD 14 */
.card_14 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 300px;
}
.card_14 .image {
	background-image: url("media/vidhi.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	background-position: center;
}
.card_14 h2 {
	color: #61892f;
}
.card_14 p {
	position: absolute;
	float: right;
	margin-left: 240px;
	margin-right: 40px;
	font-size: 17px;
	text-align: center;
}
.card_14 .next {
	color: #61892f;
}
.card_14 .prev {
	color: #61892f;
}
.card_14.active {
	margin: 0;
	transform: translateX(-50%) scale(1) rotate(-8deg);
}

/* CARD 15 */
.card_15 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 450px;
}
.card_15 .image {
	background-image: url("media/drishti.jpeg");
	width: 220px;
	margin-bottom: 0;
	position: absolute;
	top: 120px;
	height: 200px;
	background-size: 350px 350px;
	background-position: center;
}
.card_15 h2 {
	color: #7e685a;
	position: absolute;
	left: 59%;
}
.card_15 p {
	position: absolute;
	float: right;
	top: 70px;
	margin-left: 240px;
	margin-right: 40px;
	font-size: 17px;
	text-align: center;
}
.card_15 .next {
	color: #7e685a;
}
.card_15 .prev {
	color: #7e685a;
}
.card_15.active {
	margin: 0;
	transform: translateX(-48%) scale(1) rotate(6deg);
}

/* CARD 16 */
.card_16 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 400px;
}
.card_16 .image {
	background-image: url("media/suri.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	position: absolute;
	top: 68px;
	background-position: center;
}
.card_16 h2 {
	color: #41b3a3;
	position: absolute;
	left: 59%;
}
.card_16 p {
	position: absolute;
	float: right;
	margin-left: 240px;
	margin-right: 40px;
	top: 17%;
	font-size: 17px;
	text-align: center;
}
.card_16 .next {
	color: #41b3a3;
}
.card_16 .prev {
	color: #41b3a3;
}
.card_16.active {
	margin: 0;
	transform: translateX(-53%) scale(1) rotate(2deg);
}

/* CARD 17 */
.card_17 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 300px;
}
.card_17 .image {
	background-image: url("media/kavya.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	background-position: center;
}
.card_17 h2 {
	color: #e27d60;
}
.card_17 p {
	position: absolute;
	float: right;
	margin-left: 240px;
	margin-right: 40px;
	top: 17%;
	font-size: 17px;
	text-align: center;
}
.card_17 .next {
	color: #e27d60;
}
.card_17 .prev {
	color: #e27d60;
}
.card_17.active {
	margin: 0;
	transform: translateX(-53%) scale(1) rotate(-4deg);
}

/* CARD 18 */
.card_18 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 500px;
}
.card_18 .image {
	background-image: url("media/namrata.jpeg");
	width: 220px;
	margin-bottom: 0;
	position: absolute;
	top: 120px;
	background-size: 350px 350px;
	background-position: center;
}
.card_18 h2 {
	color: #a16e83;
	position: absolute;
	left: 59%;
}
.card_18 p {
	position: absolute;
	float: right;
	margin-left: 240px;
	margin-right: 40px;
	top: 17%;
	font-size: 17px;
	text-align: center;
}
.card_18 .next {
	color: #a16e83;
}
.card_18 .prev {
	color: #a16e83;
}
.card_18.active {
	margin: 0;
	transform: translateX(-50%) scale(1) rotate(9deg);
}

/* CARD 19 */
.card_19 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 300px;
}
.card_19 .image {
	background-image: url("media/rahul.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	background-position: center;
}
.card_19 h2 {
	color: #5da2d5;
}
.card_18 p {
	position: absolute;
	float: right;
	margin-left: 240px;
	margin-right: 40px;
	top: 17%;
	font-size: 17px;
	text-align: center;
}
.card_19 .next {
	color: #5da2d5;
}
.card_19 .prev {
	color: #5da2d5;
}
.card_19.active {
	margin: 0;
	transform: translateX(-48%) translateY(0%) scale(1) rotate(2deg);
}

/* CARD 20 */
.card_20 {
	background: #f6f6f6;
	transform: translateX(-50%) scale(2);
	margin: -1200px 1000px;
	transition: 1.4s;
	height: 300px;
}
.card_20 .image {
	background-image: url("media/aman.jpeg");
	width: 220px;
	margin-bottom: 0;
	background-size: 350px 350px;
	background-position: center;
}
.card_20 h2,
.next,
.prev {
	color: #262626;
}

.card_20 p {
	position: absolute;
	float: right;
	margin-left: 300px;
	margin-right: 40px;
	top: 24%;
	font-size: 30px;
	letter-spacing: 5px;
	text-align: center;
}
.card_20.active {
	margin: 0;
	transform: translateX(-48%) translateY(0%) scale(1) rotate(0deg);
}
